/* Styles for Title Tk */

body {
	display: block;
	margin: auto;
}

img {
	padding: 0px;
}

#comicContainer {
	display: block;
	margin: auto;
	width: 1450px;
}

#nav {
	display: block;
	margin: auto;
	width: 1450px;
	position: relative;
}

#comicContainer div {
	display: inline;
}

#prev {
	position: absolute;
	left: -25%;
	opacity: 0.5;
	/* ask lindsay about filters */
	filter: alpha(opacity=20); /* For IE8 and earlier */
}

#next {
	right: -25%;
	position: absolute;
	opacity: 0.5;
	filter: alpha(opacity=20); /* For IE8 and earlier */
}

#active {
	position: absolute;
	left: 25%;
}