/* Styles for Title Tk */

body * {
	display: block;
	margin: auto;
}

#title img{
	width: 100%;
	max-width: 700px;
}

/* The previous page (greyed out)*/
#prev {
	float: left;
	width: 500px;
	opacity: 0.3;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	margin-top: 5%;
}
#prev img {
	width: 100%;
	max-width: 500px;
}

/* The next page (greyed out) */
#next {
	float: right;
	opacity: 0.3;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	margin-top: 5%;
}
#next img {
	width: 100%;
	max-width: 500px;
}

/* The active page (full opacity) */
#active {
	position: absolute;
	width: 100%;
	max-width: 1400px;
	top: 0;
	margin: 0 auto;
}
#active img {
	width: 85%;
	max-width: 700px;
	right: 25%;
	left: 25%;
	top: 0;
	/*box-shadow: 0px 0px 50px 10px #888888; */
}

#bgContainer {
	width: 100%;
	max-width: 1400px;
	position: relative;
}






#nav {
	position: relative;
	margin: 5% auto;
	width: 85%;
}

#nav img {
	width: auto;
	max-width: 500px;
	box-shadow: none;
	margin: auto;
	margin-bottom: 2em;
}

.navChild {
	display: block;
	margin: auto;
	width: 265px;
}

.navChild img {
	display: inline-block;
	padding: 15px;
}

#navProgress {
	position: relative;
	display: block;
	margin: auto;
	width: 15em;
}

.navCircle {
	width: .75em;
	height: .75em;
	border-radius: 100%;
	border: 1px solid grey;
	background-color: white;
	color: white;
	margin: .5em;
	margin-bottom: 3em;
	display: inline-block;
}

