/* Styles for Title Tk */

body {
	display: block;
	margin: auto;
}

img {
	padding: 0px;
}

#comicContainer {
	display: block;
	margin: auto;
	width: 100%;
	max-width: 1400px;
}

#nav {
	display: block;
	margin: auto;
	width: 1450px;
}

#comicContainer div {
	display: inline;
}

#prev {
/*	position: relative;
	left: -25%; */
	float: left;
	opacity: 0.3;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

#prev img {
	width: 100%;
	max-width: 500px;
}

#next {
/*	position: relative; */
	float: right;
	opacity: 0.3;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

#next img {
	width: 100%;
	max-width: 500px;
}

#active {
	position: absolute;
	display: block;
	margin: auto;
	left: 25%;
}

#title img{
	display: block;
	margin: auto;
	width: 100%;
	max-width: 700px;
}